<mat-nav-list>

    <!-- <h1 matSubheader><a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">Dashboard</a></h1>
    <mat-divider></mat-divider> -->
  
    <h2 *ngIf="isAdmin" matSubheader class="header"><mat-icon class="me-4">groups_2</mat-icon>Client List</h2>
    <h2 *ngIf="isClient" matSubheader class="header"><mat-icon class="me-4">groups_2</mat-icon>Customer List</h2>
  
    <!-- <mat-divider></mat-divider> -->
  
    <!-- <h2 matSubheader class="header"><mat-icon>person_add</mat-icon>Add Client</h2> -->
  
    <!-- <mat-divider></mat-divider>
  
    <h2 matSubheader class="header"><mat-icon>local_play</mat-icon>Lottery</h2> -->
  
  
  </mat-nav-list>